@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Shantell+Sans&display=swap');


.help-section{
    background-image: url('./assests/help-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px;
    border-radius: 10px;
}